/* aplicação da fonte, removendo a margin para não ter problemas de responsividade */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #09090a;
}

p {
    margin: 0;

}

/* estilização da base da nav-bar */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: #121214;
    display: flex;
    border-bottom: 1px solid rgb(41 41 46);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav li {
    position: relative;
}

.nav a {
    white-space: nowrap;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav li:hover a {
    color: #c4c4cc;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::before {
    visibility: visible;
    width: 100%;
}

.main-content {
    padding: 16px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.main-content section {
    color: #c4c4cc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.actived-link {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 150px;


}

.form label {
    color: #c4c4cc;

}


.form input {
    border-radius: 10px;
}